@CHARSET "UTF-8";

    body {
        overflow: hidden;
    }
    
	#divExp{
		float: left;
		width: 15%;
		height: 600px;
		float: left;
		background-color: rgba(255,255,255,0.2);
		border: none;
		position: relative;
		z-index: 99;
	}
	
	#tabs{
    	float: left;
    	width: 37%;
		height: 600px;
    }
    
    .editor{
    	float: left;
    	width: 100%;
		height: 560px;
		position: relative;
		z-index: 98;
    }
    
    #diagram{
		float: right;
		width: 40%;
		height: 600px;
		background-color: rgba(0,0,0,0.5);
		outline: none;
		position: relative;
		z-index: 97;
	}
	
	#compileDiv{
		float: inherit;
		width: 90%;
		height: 580px;
		background-color: rgba(255,255,255,0.2);
		outline: none;
	}
	
	#login-modal {
    z-index: 1500;
	}